*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: antiquewhite;
}
/**************CAROUSEL-1'S CSS******************/

#caroSlideBtnNext, #caroSlideBtnPrev{
    background-color: #f82525;
    width: 70px;
    top: 35%;
    bottom: 35%;
    border-radius: 5px;
}
#caroSlideBtnNext{
    right: 1%;
}
#caroSlideBtnPrev{
    left: 1%;
}
.car2h4{
    text-align: center;
    font-size: 20px;
    margin: 12px 12px 0 12px;
    color: #f82525;
    background-color: #DFE0DF;
    padding: .3%;
}
.car2Main{
    display: flex;
    padding: 11px 35px;
    margin: 0 12px;
    align-items: center;
    justify-content: center;
    background: #DFE0DF;
  }
  .wrapper{
    display: flex;
    max-width: 1400px;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 90px;
    width: 4%;
    color: black;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 90px;
    background: #f82525;
    opacity: .8;
    border-radius: 10px;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #fdf4f4;
    opacity: 1;
    box-shadow: 0 0 11px #f82525, 0 0 11px #f82525, 0 0 11px #f82525, 0 0 11px #f82525;
  }
  .wrapper i:first-child{
    left: -32px;
    display: none;
  }
  .wrapper i:last-child{
    right: -32px;
  }
  .wrapper .carousel2ins{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel2ins.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel2ins.dragging img{
    pointer-events: none;
  }
  .carousel2ins img{
    height: 220px;
    border: .3px solid pink;
    object-fit: cover;
    user-select: none;
    margin-left: 7px;
    width: calc(100% / 7);
  }
  .carousel2ins img:first-child{
    margin-left: 0px;
  }

  @media screen and (max-width: 980px) {
    .carousel2ins img{
      width: calc(100% / 4);
    }
  }
  @media screen and (max-width: 580px) {
    .carousel2ins img{
      width: calc(100% / 3);
    }
  }
  @media screen and (max-width: 350px) {
    .carousel2ins img{
      width: 100%
    }
  }


@media screen and (max-width: 1385px) {
    .navSearch input{
        width: 280px;
    }
}
@media screen and (max-width: 1281px) {
    .navSearch input{
        width: 225px;
    }
    nav ul li{
        margin: 3px 3px;
    }
    ul {
        padding-left: .7rem;
    }
    nav ul li .nav-links{
        font-size: 14px;
    }
    .logo{
        width: 110px;
    }
    .four-cards{
        width: 19%;
    }
}
@media screen and (max-width: 1281px) {
    .navSearch input{
        width: 225px;
        height: 25px;
    }
    nav ul li{
        margin: 3px 3px;
    }
    ul {
        padding-left: .7rem;
    }
    nav ul li .nav-links{
        font-size: 14px;
    }
    .logo{
        width: 110px;
    }
    
}
/*CAROUSEL-1 END HERE ************/

/*FOUR CARD START HERE********/

.four-cards{
    width: 18%;
    height: auto;
    background-color: #DFE0DF;
    margin-top: 15px;
    margin-left: 5px;
}

#c3-1, #c3-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#c3-1 div a img, #c3-2 div a img{
    width: 100%;
    padding: 5%;
}
.card-heading{
    text-align: center;
    padding-top: 7px;
    color: #f82525;
}
.card3-footer a{
    text-decoration: none;
    color: #f82525;
    font-size: 14px;
    padding-left: 15px;
}
.card3-footer a:hover{
    color: black;
    text-decoration: underline;
}
.card3-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 11px;
}

/*FOUR CARD ENDS HERE ****************/

/*CARD - SECTIONS START HERE***********/
.container{
    width: 80%;
    margin: auto;
    transition: 0.5s;
}
#header{
    display: grid;
   /* grid-template-columns: 1fr 50px;*/
}
#header .shopping{
    position: relative;
    text-align: right;
}
#header .shopping i{
   /* width: 40px;*/
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}
#header .shopping span{
    background-color: #2c0707;
    border-radius: 50%;
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    top: -10px;
    left: 80%;
    padding: 3px 6px;
}
.list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 50px;
}

.card-img-container{
    position: relative;
}
.card-img-container img{
    width: 100%;
    height: 100%;
}
.flip-img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.2s ease;
}
.flip-img:hover{
    opacity: 1;
}
.card{
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #DFE0DF;
    height: 100vh;
    transition: 0.5s;
}
.card-he{
    display: flex;
    align-items: center;
    justify-content: left;
}
.card-he .bi-x-square{
    color: black;
    font-size: 20px;
    position: relative;
    top: 4px;
    left: 15px;
    cursor: pointer;
}
.card h1{
    color: #f82525;
    text-decoration: underline;
    font-weight: 70;
    font-size: 24px;
    margin: 0px 0px 0px 40px;
    padding: 0px 20px;
    height: 60px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card .checkOut div{
    background-color: #f82525;
    width: 100%;
    height: 70px;
    font-size: 25px;
    display: flex;
    color: #FAEBD7;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #FAEBD7;
    color: #f82525;
    font-size: 25px;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
    transform: translateX(-200px);
}
.list .item{
    text-align: center;
    background-color: #DFE0DF;
    padding: 7px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item .cardBtnGr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list .item img{
    width: 100%;
}
.list .item .title{
    font-weight: 600;
    color: #2c0707;
    font-size: 14px;
}
.list .item .prePrice{
    font-size: 12px;
    color: #2c0707;
    text-decoration: line-through;
    opacity: .7;
}
.list .item .price{
    margin: 10px;
    color: #2c0707;
    font-size: 14px;
}

.list .item button{
    background-color: #f82525;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin: 0px 2px;
    padding: 10px;
    width: 100%;
}
.list .item button:hover{
    background-color: #FAEBD7;
    color: #2c0707;
    border: 1px solid #f82525;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    background-color: #afaeac;
    color: #2c0707;
    row-gap: 3px;
    margin-bottom: 7px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 38%;
    height: auto;
    border-radius: 11px;
    padding: 4px;
}
.listCard button{
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 3px;
    background-color: #f82525;
    border: none;
}
.listCard .count{
    margin: 0px 10px;
}

/*CARD - SECTION ENDS HERE **************/

/*NAVBAR START HERE *****************/

#header{
    width: 100%;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 3%;
    background-color: #f82525;
}
nav img{
    padding: 5px;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 55px;
    color: white;
   /* border: 1px solid rgba(248, 57, 89, 0.964);*/
}
nav ul{
    margin-top: .7rem;
    margin-bottom: .5rem
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 6px 6px;
}
nav .bi-task{
    color: #fff;
}
nav ul li .nav-links{                                            /*#596478*/
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative; /*CHECK-HERE*/
}
nav ul li .nav-links::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
    pointer-events: none;
}
nav ul li .nav-links:hover::after{
    width: 100%;
}

.navSearch{
    background-color: white;
}
.navSearch input{
    border: none;
    outline: none;
    width: 350px;
    font-size: 16px;
    padding: 0px 0px 0px 10px;
}
nav ul li button{
    background-color: white;
    color: #fff;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
}
.myCart li{
    list-style: none;
}
.sec-li-sign a{
    background-color: #fff;
    color: white;
    padding: 8px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 7px;
}
nav .navSearch label button{
    display: inline-block;
    background-color: #FAEBD7;
    color: black;
    padding: 7px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 0px;
    border: none;
    cursor: pointer;
}
.sec-li-s-btn a .bi-search{
    color: white;
}
.sec-li-sign a{
    background-color: #2c0707;
}
.sec-li-sign a:hover{
    background-color: #FAEBD7;
    color: black;
    box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
    
}

.f-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9ea09e;
    margin: 50px 0px 0px 0px;
    padding: 20px 0px;
}
.f-links ul li{
    list-style: none;
    margin: 0px 25px;
}
.f-links ul li i{
    color: #f82525;
}

/*LOGIN'S CSS STARTS HERE ****************/

.login-section{
    border: 2px solid #f82525;
    height: 490px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
}
.login-section:hover{
    box-shadow: 0 0 60px #f82525;
}
.login-section .formbox{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.formbox h2{
    text-align: center;
    font-size: 40px;
    color: #f82525;
}
.formbox .input-box{
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #f82525;
    margin: 30px 0;
    position: relative;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    /* padding-right: 28px; */
    color: black;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    color: #f82525;
    transition: .3s ease;
}
.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
    color: #f82525;
}
.input-box input:focus-within~ label,
.input-box input:valid~ label{
    top: -5px;
    color: black;
    font-weight: 600;
}
.rem-password{
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.rem-password label {
    color: #f82525;
}


.rem-password input[type="checkbox"] {
    border: 2px solid #2c0707;
}
.rem-password label input{
    accent-color: #f82525;
    margin-right: 3px;
}
.rem-password a{
    color: #2c0707;
    font-weight: 600;
    text-decoration: none;
}
.rem-password a:hover{
    color: #f82525;
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 34px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    background: #f82525;
    box-shadow: rgba(0, 0, 0, 0.4);
}
.btn:hover{
    background-color: #b00a0a;
    color: #fff;
}

.create-account{
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}
.create-account p a{
    color: #2c0707;
    font-weight: 600;
    text-decoration: none;
}
.create-account p{
    color: #f82525;
}
.create-account p a:hover{
    color: #f82525;
    text-decoration: underline;
    font-weight: 600;
}

.login-section .formbox.register{
    transform: translateY(-460px);
    transition: transform .6s ease;
}
.login-section.active .formbox.register{
    transform: translateY(0);
    transition-delay: .7s;
}
.login-section .formbox.login{
    transform: translateY(0);
    transition: transform .7s;
}
.login-section.active .formbox.login{
    transform: translateY(430px);
    transition-delay: 0s;
}

/*LOGIN'S CSS ENDS HERE ************/

nav .cl-btn, .op-btn{
    display: none;
}

@media screen and (max-width: 1150px) {
    nav ul li .nav-links{
        font-size: 13px;
    }
    .logo{
        width: 110px;
        font-size: 11px;
    }
    .navSearch input{
        width: 240px;
    }
}

@media screen and (max-width: 950px) {
    nav{
        height: 60px;
    }
    nav .op-btn{
        display: block;
        font-size: 30px;
        color: #2c0707;
        border-radius: 5px;
        border: .3px solid #2c0707;
        padding: 1px 2px 0px 2px;
    }
    nav .cl-btn {
        display: block;
        position: absolute;
        top: 18px;
        left: 18px;
        cursor: pointer;
        color: #fff;
        border-radius: 4px;
        background-color: #f82525;
        font-size: 24px;
    }
    nav ul{
        border: .3px solid #f82525;
        background-color: #DFE0DF;
        position: fixed;
        top: 0;
        right: -220px;
        width: 199px;
        height: 50vh;
        padding-top: 45px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 18px 0px 0px 15px;
    }
    nav ul li .nav-links{
        color: #f82525;
        font-size: 16px;
    }
    nav ul li .nav-links::after{
        color: #f82525;
        background-color: #f82525;
        font-size: 20px;
    }
    .navSearch label button{
        height: 50px;
        width: 50px;
    }
    .navSearch{
        margin: none;
        height: 50px;
    }
    .navSearch input{
        width: 370px;
        height: 45px;
    }
    
    nav ul .sec-list-search{
        margin-right: 15px;
    }
    .logo{
        width: 141px;
        font-size: 15px;
    }
    #header .shopping i{
        font-size: 30px;
    }
    .wrapper i{
        height: 100px;
        line-height: 100px;
        width: 8%;
    }
    .container{
        width: 100%;
    }
    .list{
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
    .f-links ul li{
        margin: 0px 1px;
        font-size: 20px;
        padding: 0px 6px 0px 6px;
    }
    .sec-li-sign a{
        background-color: #2c0707;
        font-size: 20px;
        padding: 5px;
        border-radius: 7px;
    }
    .card3-main{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        column-gap: 5px;
    }
    .four-cards{
        width: 100%;
    }
    #header .shopping{
        text-align: left;
    }
    #header .shopping i{
        color: #2c0707;
    }
    #header .shopping span{
        background-color: #FAEBD7;
        color: #f82525;
    }
    .active .card {
        left: calc(100% - 500px);
        height: 90vh;
    }
    .card h1{
        height: 80px;
        font-size: 30px;
    }
    .listCard li {
        grid-template-columns: 140px repeat(3, 115px);
    }
    .listCard li div{
        font-size: 26px;
    }
    .card .checkOut{
        grid-template-columns: repeat(2, 250px);
    }
    .card-he .bi-x-square{
        font-size: 30px;
    }
    .shopping span{
        top: -9px;
        left: 70%;
    }
}

@media screen and (max-width: 600px) {
    nav{
        height: 40px;
    }
    .logo{
        width: 80px;
        font-size: 8px;
    }
    .navSearch{
        height: 36px;
    }
    nav .navSearch label button{
        height: 36px;
    }
    .navSearch input{
        width: 200px;
        height: 19px;
    }
    nav ul{
        height: 70vh;
    }
    #header .shopping i{
        font-size: 20px;
    }
    nav .op-btn{
        font-size: 22px;
    }
    .list{
        grid-template-columns: repeat(3, 1fr);
    }
    .card-he .bi-x-square{
        font-size: 20px;
    }
    .card h1 {
        height: 75px;
        font-size: 24px;
    }
    .listCard li {
        grid-template-columns: 80px repeat(3, 136px);
    }
    .listCard li div {
        font-size: 20px;
    }
    .f-links ul li{
        font-size: 16px;
    }
}

@media screen and (max-width: 550px) {
    nav{
        height: 60px;
    }
    .logo{
        width: 80px;
        height: 50px;
    }
    .navSearch{
        height: 46px;
    }
    nav .navSearch label button{
        height: 46px;
    }
    .navSearch input{
        width: 220px;
        height: 38px;
    }
    nav ul{
        height: 70vh;
    }
    #header .shopping i{
        font-size: 20px;
    }
    nav .op-btn{
        font-size: 22px;
    }
    .list{
        grid-template-columns: repeat(3, 1fr);
    }
    .card-he .bi-x-square{
        font-size: 20px;
    }
    .card h1 {
        height: 75px;
        font-size: 24px;
    }
    .listCard li {
        grid-template-columns: 80px repeat(3, 136px);
    }
    .listCard li div {
        font-size: 20px;
    }
    .f-links ul li{
        font-size: 14px;
    }
    #caroSlideBtnNext, #caroSlideBtnPrev {
        width: 60px;
        top: 30%;
        bottom: 30%;
    }
    .wrapper i{
        width: 14%;
    }
    .card3-main{
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width: 450px) {
    nav{
        height: 50px;
    }
    nav .op-btn{
        display: block;
        font-size: 20px;
        color: #2c0707;
        border: .3px solid #2c0707;
        padding: 1px 2px 0px 2px;
    }
    nav .cl-btn {
        display: block;
        position: absolute;
        top: 18px;
        left: 18px;
        cursor: pointer;
        color: #fff;
        border-radius: 4px;
        background-color: #f82525;
        font-size: 20px;
    }
    nav ul{
        border: .3px solid #f82525;
        background-color: #DFE0DF;
        position: fixed;
        top: 0;
        right: -220px;
        width: 199px;
        height: 70vh;
        padding-top: 45px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 10px 0px 0px 15px;
    }
    nav ul li .nav-links{
        color: #f82525;
        font-size: 15px;
    }
    .navSearch{
        margin: 2px 0px 2px 0px;
    }
    .navSearch input{
        width: 150px;
    }
    
    nav ul .sec-list-search{
        margin-right: 15px;
    }
    
    .logo{
        width: 100px;
        height: 42px;
    }
    .car-1 img{
        height: 100px;
    }
    #caroSlideBtnNext, #caroSlideBtnPrev {
        top: 30%;
        bottom: 30%;
        width: 8%;
    }
    .car2h4{
        font-size: 16px;
    }
    .wrapper i{
        width: 13%;
    }
    .card3-main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }
    .four-cards{
        width: 100%;
        margin-left: 0px;
    }
    .carousel2ins img {
        height: 150px;
    }
    .container{
        width: 100%;
    }
    .list{
        grid-template-columns: 180px 180px;
        justify-content: center;
    }
    .f-links ul li{
        margin: 0px 1px;
        font-size: 11px;
        padding: 0px 3px 0px 3px;
    }
    .sec-li-sign a{
        background-color: #2c0707;
        font-size: 14px;
        border-radius: 3px;
    }
    #header .shopping{
        text-align: left;
    }
    .logo{
        width: 75px;
        font-size: 8px;
    }
    #header .shopping i{
        color: #2c0707;
    }
    #header .shopping span{
        background-color: #FAEBD7;
        color: #f82525;
        left: 48%;
        font-size: 10px;
        padding: 3px 4px;
    }
    .active .card {
        left: calc(100% - 300px);
        height: 90vh;
    }
    .card h1{
        height: 50px;
        font-size: 20px;
    }
    .listCard li {
        grid-template-columns: 75px repeat(3, 68px);
    }
    .listCard li div{
        font-size: 16px;
    }
    .card .checkOut{
        grid-template-columns: repeat(2, 150px);
    }
    .shopping span{
        top: -9px;
        left: 70%;
    }

    /*LOGIN'S SM - SC*/

    .login-section{
        width: 320px;
    }
    .formbox .input-box {
        width: 280px;
    }
    
}

@media screen and (max-width: 380px) {
    .logo{
        height: 42px;
    }
    .list{
        grid-template-columns: 165px 165px;
    }
    #header .shopping i{
        font-size: 20px;
    }
    nav .op-btn{
        font-size: 15px;
    }
    #header .shopping span{
        font-size: 10px;
        padding: 1px 3px;
    }
    .navSearch{
        height: 40px;
        margin: 0px;
    }
    .navSearch Input {
        width: 135px;
        height: 26px;
    }
    nav .navSearch label button{
        height: 40px;
    }
    .listCard li div{
        font-size: 16px;
    }
    .card-he .bi-x-square {
        font-size: 22px;
    }
    .f-links ul li{
        font-size: 10px;
    }
   
}


@media screen and (max-width: 340px) {
    .logo {
        width: 55px;
        font-size: 8px;
    }
    nav{
        height: 45px;
    }
    nav img{
        padding: none;
    }
    .navSearch{
        height: 35px;
    }
    .navSearch input{
        width: 100px;
        height: 22px;
    }
    #header .shopping i{
        font-size: 13px;
    }
    #header .shopping span{
        top: -3px;
        left: 60%;
        padding: 0px 2px;
    }
    nav .op-btn{
        font-size: 11px;
    }
    nav .cl-btn{
        font-size: 16px;
    }
    nav ul{
        right: -220px;
    }
    nav .navSearch label button{
        height: 35px;
    }
    .car-1 img{
        height: 90px;
    }
    #caroSlideBtnNext, #caroSlideBtnPrev {
        width: 40px;
        top: 30%;
        bottom: 30%;
    }
    .car2h4{
        font-size: 12px;
    }
    .car2Main{
        padding: 5px 20px 15px 20px;
    }
    .wrapper i{
        height: 80px;
        width: 18%;
        line-height: 80px;
    }
    .card3-main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .four-cards{
        width: 100%;
        margin-left: 0px;
    }
    .list {
        grid-template-columns: repeat(1, 1fr);
    }
    .active .card{
        left: calc(100% - 240px);
    }
    .card-he .bi-x-square {
        font-size: 16px;
    }
    .card h1 {
        height: 45px;
        font-size: 16px;
    }
    .card .checkOut {
        grid-template-columns: repeat(2, 120px);
    }
    .listCard li {
        grid-template-columns: 55px repeat(3, 55px);
    }
    .listCard li div{
        font-size: 13px;
    }
    .sec-li-sign a{
        padding: 3px;
    }
    
    .f-links ul li{
        font-size: 8px;
        padding: 0px 1px 0px 1px;
        margin-top: 3px;
    }

     /*LOGIN'S SM - SC*/

     .formbox h2{
        font-size: 36px;
     }
     .input-box label{
        font-size: 14px;
     }
     .input-box .icon{
        font-size: 16px;
     }
     .create-account{
        font-size: 12px;
     }
     .login-section{
        width: 260px;
    }
    .formbox .input-box {
        width: 230px;
    }
}